.container {
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    width: 50%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    gap: 20px;
}

button {
    width: 50px;
}

.recipe-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}